body {
   background-color: #f1f1f1;
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }
#mobile-demo li:hover {
   background-color: rgb(90,116,181);
}
#navbar-pc li:hover {
   background-color: rgb(90,116,181);
}
 main {
   flex: 1 0 auto;
 }
 .navbar-fixed img{
     max-height: 64px;
 }
 #ku-logo {
     height: 3.56rem;
 }
 .parallax img{
     filter: brightness(0.4);
 }
.leave-padding{
    padding-top:4rem;
}
 #map {
   height: 400px;
   width: 100%;

 }
 .parallax-container {
      height:30rem;
}
 #carousel-content{
    height:550px;
 }
.hizmetler{
    font-family: 'Josefin Sans', sans-serif;
}
