body {
   background-color: #f1f1f1;
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }
 .navbar-fixed img{
     max-height: 64px;
 }
 #map {
   height: 400px;
   width: 100%;

 }
 #carousel-content{
    height:550px;
 }
.hizmetler{
    font-family: 'Josefin Sans', sans-serif;
}
